/venv/
/training/email_data/send_info/

/__pycache__/
*__pycache__
*.log
*.pdf
/email_data/send_info/*.csv
/data/*.csv
/data/Archive/*.csv
*.docx
/export/
/data/
/*.un
*~
/email_data/send_info/
/email_data/templates/workspace.code-workspace
/master.csv
*.pynb_checkpoints*
/training/services/.ipynb_checkpoints/
*.ipynb
/new_cohort_docs/new_user_import.csv
/training/services/CPR_export_2022-01-13.csv
/new_cohort_docs/_2021/new_user_import.csv
