<html>

    <body>
        <p>Hello {{name}},</p>
        <p>According to the course status you are listed as <strong>{{status}}</strong> in your CPR/First Aid class at <a href="www.redcrosslearningcenter.org">www.redcrosslearningcenter.org</a>. The class closing date is <strong>{{close_date}}</strong>.</p>
        <p>Since you are complete, there is nothing else you need to do until we begin scheduling in person skill session for this class later this year.</p>
        <p>Please reach out with any questions,</p>
        <p>{{signature}}</p>
    </body>

</html>
