<html>

    <body>
        <p>Hello {{name}},</p>
        <p>According to the course status you are listed as <strong>{{status}}</strong> in your CPR/First Aid class at <a href="www.redcrosslearningcenter.org">www.redcrosslearningcenter.org</a>. The class closing date is <strong>{{close_date}}</strong>.</p>
        <p>Since you are Not Registered, you will need us to use the link below to register and then log in to complete the course. If you have another current CPR/First Aid certificate you can also provide that instead.</p>
        <p>Your link is: <a href="{{link}}">{{link}}</a></p>
        <p>Please reach out with any questions,</p>
        <p>{{signature}}</p>
    </body>

</html>
