<body>
<p>Hello {{name}},</p>
<p>I am reaching out because it appears you are <strong>{{status}}</strong> in the CPR/First Aid class which is scheduled to close {{close_date}}. If you have not registered yet your link is: <a href="{{link}}">{{link}}</a></p>
<p>If you have already registered with that link you can log in and complete the course at <a href="www.redcrosslearningcenter.org">www.redcrosslearningcenter.org</a> .</p>
<p>Please complete this as soon as possible. I've cc'd your supervisor to keep them aware of your progress.</p>
{{signature}}
</body>
