<html>
    <body>
        <p>Hello {{name}},</p>
        <p>This message is a reminder that the Peer Coaching course ends in 10 days.</p>
        <p>It looks like you</p>
        <p>Please reach out with any questions!</p>
        <p>{{signature}}</p>
    </body>
</html>
