</head>
<body>
<p>Hello {{name}},</p>
<p>You have been signed up for our April Peer Coaching class.</p>
<p>This class will:</p>
<ol>
    <li>Provide you with the tools and best practices needed to get new staff up to speed on their role and get to know the individuals they will be supporting</li>
    <li>Enhance the training experience to help motivate, develop, and retain staff</li>
    <li>Help your whole team provide high quality support to the individuals you support</li>
</ol>

<p>This class will be virtual and will require some on the job work between its two Zoom sessions.</p>
<h3 id="before-class">Before Class</h3>
<ul>
<li>Briefly review the documents attached to this message</li>
<li>Think of a goal you'd like to work on, either personal or work related, to plan for during class.</li>
<li><strong>Make a plan for our live class times, on Tuesday 4/5 and Tuesday 4/12, so you can give your full attention to our times together</strong>.</li>
</ul>
<h3 id="live-zoom-classes">Live (Zoom) Classes</h3>
<p>We will meet for class together twice, via Zoom. The dates, times and links to join can be found below:</p>
<div class="important" id="important">
<h4 id="tuesday-april-5th">Tuesday, April 5th</h4>
<p>Start time: 10:00 am <br> End Time: 2:00 pm</p>
<h4 id="tuesday-april-12th">Tuesday, April 12th</h4>
<p>Start time: 10:00 am <br> End Time: 1:00 pm</p>
<h4 id="zoom-link">Zoom link for both sessions: <a href="https://us02web.zoom.us/j/88446034838">https://us02web.zoom.us/j/88446034838</a></h4>
</div>
<p>Please come prepared to participate and be seen and heard by the rest of the class. It is best if you attend from somewhere you won't be interupted easily. This course includes group discussions and breakout rooms.</p>
<p>After reviewing the material attached to this message, please reach out to your supervisor if you'd like a printed copy. Contact them before Friday if that is the case.</p>
<p>If you have any questions please reply to this email!</p>
<p>{{signature}}</p>
</body>
