{% extends "previous_cohort.html" %}
{% block voaww %}

<p><strong>It is your responsibility to submit a punch change request through Paycom in order to receive credit for any chapters you've completed.</strong> Your supervisor cannot do this for you. The hours to submit for are noted below. Since everyone progresses at different rates the hours awarded by chapter are the same as the hours DDA credits the courses. These can be found in the syllabus. Each update email will include a reminder to submit for these hours as well as the number of hours earned since the last review. Attached you will find instructions for how to request these hours.</p>

<p><strong>Hours earned since last check: {{hours_completed}}</strong></p>
<br>
{% endblock %}
