<body>
<p>Hello {{name}},</p>
<p>This is an update on your progress through the online 40hr CORE, as well a reminder that if you are receiving this message you have some work remaining to complete.</p>

<p>The cohort you started these trainings with is finished but in order to remain on the schedule they must be completed. Below is a summary of your progress as of this update and instructions on how to receive credit on your time card for courses you have completed since the last update.</p>

<p>Progress to date: {{update_info}}</p>
<p></p>

{% block voaww %}
{% endblock %}

<p>Let me know if you have any questions,</p>
{{signature}}
</body>
