<body>
<p>Hello {{name}},</p>
<p>This is an update on your progress through the online 40hr CORE, as well a reminder that some chapters are scheduled to be complete soon.</p>
<!-- <p>The first set of chapters, Chapters 1-4, 13 and 14, are all open and available to complete. The first three chapters are due next Wednesday, with the next three due next Friday.</p> -->
<p>The first three chapters (1-3) are scheduled to be completed today, with Chapters 4, 13 and 14 due on Friday. The second set of trainings (Chapters 5-8 and 11) were also opened today. They will be due next week.</p>
<!-- <p>The first set of chapters (1-4,13,14) are scheduled to be completed today. The second set of trainings (Chapters 5-8 and 11) were also opened Wednesday. They will be due next week.</p> -->
<!-- <p>Chapters 1-7,13,14 are scheduled to be completed by today. Chapters 8 and 11 will be due Friday. The final set of Chapters was opened today. They will be due by the end of next week.</p> -->
<!-- <p>As a reminder: <strong>Chapters 8 & 11 are scheduled as due today, in addition to 1-7, 13 and 14 from last week</strong>. The remaining chapters are due at the end of next week.</p> -->
<!-- <p>As a reminder: All chapters are available to complete</p> -->
<p>Your target end date for completing all chapters is August 26th, though some extra time can be given upon request.</p>
<p>Progress to date: {{update_info}}</p>
<p></p>
{% block voaww %}
{% endblock %}

<p>Let me know if you have any questions,</p>
{{signature}}
</body>
