<body>
<p>Hello {{name}},</p>
<p>This is an update on your progress through the online 40hr CORE, as well a reminder that some chapters are scheduled to be complete today.</p>
<p>All chapters are now open, including the last set with became available today</p>
<!-- <p>As a reminder: <strong>Chapters 1-8, 11, 13 and 14 are scheduled as due today</strong>.</p> -->
<p>As a reminder: <strong>All chapters are scheduled to be completed by the end of this week.</strong>.</p>

<p>The final series of trainings were opened up today, so you can start working on them now. They will be due next week. </p>
<p>Your target end date for completing all chapters is August 27th, though some extra time can be given upon request.</p>
<p>Progress to date: {{update_info}}</p>
<p>Let me know if you have any questions,</p>
{{signature}}
</body>
