<body>
<p>Hello {{name}},</p>

<p>This is a quick reminder that the first set of courses at <a href="www.dstrainings.com">www.dstrainings.com</a> are open.

    <p>Chapters 1-4, 13 and 14 are due next week.</p>

    <p>Just as a reminder, I'm including your original username and password. <strong>Note: if you have logged in and  changed your password, use your new password!</strong></p>
    <ul>
        <li>Website:<a href="www.dstrainings.com">Go to www.dstrainings.com</a></li>
        <li>Username: {{username}} (First Name<strong>.</strong>Last Name)</li>
        <li>Temporary Password: {{password}} (Tip: record your new password!)</li>
    </ul>
    <p>Let me know if you have any questions,</p>
{{signature}}
</body>
