    <body>
        <p>Hello {{ name }},</p>
        <p>You’re receiving this message because you are on our list as a student of the Virtual Train the Trainer starting May 17th.</p>
        <p>Our first meeting is on Monday, May 17th starting at 10:00 am. I look forward to seeing you there!</p>
        <p>Here is the link for the meeting on Zoom: <a href="https://us02web.zoom.us/j/83241742428">https://us02web.zoom.us/j/83241742428</a>. If for some reason that link is having technical difficulties we will send you a new one to this email address.</p>
        <p>Ahead of our first meeting on the 17th, there are a few things we need from you:</p>
        <ul>
            <li>Log in to www.dstrainings.com (details below)</li>
            <li>Review the syllabus (attached here)</li>
            <li>Optional: Create an account at youtube.com for uploading videos. We will discuss this more in the first class.</li>
            <li>Optional: Download and install OBS (www.obsproject.com). If you do not do this before Monday it is okay as we will walk through the process.</li>
        </ul>
        <p>Logging in to www.dstrainings.com:</p>
        <p>DS Trainings is the platform we will treat as home base. Using the information below please log in and explore a little bit. You should see one class available to you, “May Virtual Train the Trainer” or “May TTT”. Go into the class and complete the welcome section which includes some instructions for how to setup your technology, some general tips and guidelines, as well as a spot to introduce yourself.</p>
        <ul>
            <li>Go to <a href="www.dstrainings.com">www.dstrainings.com</a></li>
            <li>Log in
                <ul>
                    <li>Username: {{ username }} (First Initial.Last Name)</li>
                    <li>Temporary Password: {{ password }} (Tip: record your new password!)</li>
                </ul>
            </li>
            <li>Go through the short site orientation.</li>
            <li>Explore a little bit.</li>
            <li>Navigate to the May Train the Trainer Course</li>
            <li>Complete the section titled "Welcome"</li>
        </ul>
        <p>If you hit a snag, please let me know!</p>
        <p>Please reply to this message with any questions you may have,</p>
        <p>Matthias Austin</p>
        <p>DS Training Team <br> Volunteers of America Western Washington | voaww.org <br> maustin@voaww.org | training@voaww.org</p>
        <p style="font-size: 0.8em;">This e-mail is meant for only the intended recipient, and may be a communication privileged by law. If you received this e-mail in error, any review, use, dissemination, distribution, or copying of this e-mail is strictly prohibited - please notify us immediately of the error and please delete this message from your system. Thank you.</p>
    </body>
