<body>
<p>Hello {{name}},</p>
<p>This is an update on your progress through the online 40hr CORE, as well a reminder that some chapters are scheduled to be complete today.</p>
<!-- <p>The first three chapters (1-3) are scheduled to be completed today, with Chapters 4, 13 and 14 due on Friday. The second set of trainings (Chapters 5-8 and 11) were also opened today. They will be due next week.</p> -->
<p>As a reminder: <strong>Chapters 5-7 are scheduled as due today, in addition to 1-4, 13 and 14 from last week</strong>. Chapters 8 and 11 are due Friday.</p>
<!-- <p>As a reminder: <strong>All chapters are scheduled to be completed by the end of this week.</strong>.</p> -->
<p>The final series of trainings were opened up today, so you can start working on them now. They will be due next week. </p>
<!-- <p>All chapters are now open, including the last set with became available today</p> -->
<!-- <p>As a reminder: <strong>Chapters 1-8, 11, 13 and 14 are scheduled as due today</strong>.</p> -->
<!-- <p>As a reminder: <strong>All chapters are scheduled to be completed by the end of this week.</strong>.</p> -->
<!-- <p>The final series of trainings were opened up today, so you can start working on them now. They will be due next week. </p> -->
<p>Your target end date for completing all chapters is September 24th, though some extra time can be given upon request.</p>
<p>Progress to date: {{update_info}}</p>
<p><strong>It is your responsibility to submit a punch change request through Paycom in order to receive credit for any chapters you've completed.</strong> Your supervisor cannot do this for you. The hours to submit for are noted below. Since everyone progresses at different rates the hours awarded by chapter are the same as the hours DDA credits the courses. These can be found in the syllabus. Each update email will include a reminder to submit for these hours as well as the number of hours earned since the last review. Attached you will find instructions for how to request these hours.</p>

<p><strong>Hours earned since last check: {{hours_completed}}</strong></p>
<br>
<p>Let me know if you have any questions,</p>
{{signature}}
</body>
