<html>
    <body>
        <p>Hello {{name}},</p>
        <p>This message is a reminder that the Peer Coaching course ends in 4 days.</p>
        <p>Here is a status update:</p>
        <ul>
            <li>Pre class work: </li>
            <li>Snapshot: </li>
            <li>Scenarios: </li>
            <li>Checklist Review: </li>
            <li>Training Attestation: </li>
        </ul>
        <p>I previously attached a summary of the after class materials to ensure they are available to you offline. You will still need to log in in order to complete the training attestation stating you are finished, so please let me know if you are having trouble getting into dstrainings.com</p>
        <p>Please reach out with any questions!</p>
        <p>{{signature}}</p>
    </body>
</html>
