<body>
<p>Hey {{name}},</p>
<p>I wanted to first say thank you for attending and being a great contributor to our class. You are going to make a great trainer.</p>
<p>As you get back into your normal role and/or get started training please feel free to reach out with any questions you might have.</p>
<p>Attached you'll find a certificate of completion that doubles as CE credit for this year. Make sure to file it with your agency and keep a copy for your personal records as well.</p>
<p>Have a fanstatic weekend and beginning of your journey training the 40hr CORE.</p>
<p>Sincerely yours,</p>
<p>{{signature}}</p>
</body>
